* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f4f6f9;
}

/* HEADER */
.header {
  background: #1B4332;
  color: white;
  text-align: center;
  padding: 20px;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

/* PROGRESS BAR */
.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step.active {
  background: #1f6aa5;
  color: white;
}

/* FORM */
.form-step {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.form-step.active {
  display: block;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 25px;
  margin-left: 75px;
}

.flex1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 10px;
  margin-left: 25px;
}

/*Select*/
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* INPUT */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* RADIO */
.radio-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 25px;
  margin-left: 100px;
}

/* BUTTONS */
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  background: #1f6aa5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #155a8a;
}

/* RESPONSIVE */
@media(max-width:600px){
  .grid {
    grid-template-columns: 1fr;
  }
}

.delete-btn{
    background:#d32f2f;
    color:white;
    padding:6px 12px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

table th{
    background:#f1f5f9;
}